<body>
<div class="row">
  <div class="col s3 blue-grey lighten-4">
  <h5 class="center-align">Travel Info</h5>
  <ul class="center-align">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Weather</div>
        <div class="collapsible-body"><p>Testing Weather Data.</p></div>
        <div class="collapsible-body" id="weatherDiv"></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Events</div>
      </li>
    </ul>
  </ul>
  </div>
  <div class="col s9 green lighten-4">
    <blockquote>Use the search bar to search Google Maps for your next destination!</blockquote>
    <p class="data">
    </p>
  </div>
</div>
    <div class="container" id="mapDiv">
    </div class="section">
</body>
