<body>
<h1>Test</h1>

  <div class="container">
  <!-- Page Content goes here -->
    <div class="row">
      <div class="col s3">
        <!-- Grey navigation panel -->
      </div>
      <div class="col s9">
        <!-- Teal page content  -->
      </div>
    </div>
  </div>

</body>
