<div class="row">
  <div class="col s3 blue-grey lighten-4">
  <h3>This page can only be accessed by registered users</h3>
  {{currentUser.local.email}}
  <h5 class="center-align">My Favorite Cities</h5>
  {{#each currentUser.local.cities}}
      <div class="container center-align"><a href="/user/{{user._id}}/city/{{_id}}">{{name}}</a></div>
  {{/each}}
  </div>
  <div class="col s9 green lighten-4">
    <div class="row">
      <blockquote>Click on one of your favorite cities to view your saved notes and more travel ideas!</blockquote>
    </div>
    <div class="row">

    </div>
  </div>
</div>
